* {
  font-family: Arial;
  background-color: rgb(255, 255, 128);
}
h1 {
  background-image: url('../images/1960s-love.png');
  background-size: 500px;
  background-position: top right;
  background-repeat: no-repeat;
  text-align: center;
  text-align: left;
  font-size: large;
  font-family: sans-serif !important;
  color: hotpink;
  background-color: #CC00CC
  border: 5px blue;
}
img {
  opacity: 1;
}
p {
  background-color: #FFCC00;
  border: 5px solid #660066;
}

.box1 {
/* This is a comment */
  background-image: url('../images/1960s-05.png');
  background-position: left;
  background-repeat: no-repeat;
  background-size: 800px;
}
