body {
  font-family: Arial;
  align-content: center;
  background-image: url('./images/1960s-love.png)'
  background-size: auto;
  background-position: center;
  background-repeat: fixed;
  background-color: baby blue;

}
h2 {
  font-family: sans-serif;
  color: inherit;
  border: 5px pink;
}
p {
  background-color: #ffcc00;
  border: 5px solid #660066;
}
