body {
  font-family: Arial;
  text-align: center;
  background-image: url('../images/1960s-love.png');
  background-size: 800px;
  background-position: center;
  background-repeat: no-repeat;
  background-color: blue;
}
h1 {
  font-family: sans-serif;
  color: hotpink;
  background-color: #CC00CC
  border: 5px blue;
}
p {
  background-color: #FFCC00;
  border: 5px solid #660066;
}
