@font-face {
   font-family: 'Homemade-Apple';
   src: url('../fonts/Homemade-Apple.ttf') format('opentype');
   font-weight: normal;
   font-style: normal;
 }

@font-face {
  font-family: 'Playball-Regular';
  src: url('../fonts/Playball-Regular.ttf') format('opentype');
  font-weight: bold;
  font-style: normal;
}
