h1 {
  color: #40413E;
  text-align: center;
  font-family: cursive;
  font-size: 200%;
  font-style: normal;
  font-weight:400;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 30px;
  letter-spacing: auto;
}

h2 {
  color: #40413E;
  text-align: center;
  font-family: cursive;
  font-size: 125%;
  font-style: normal;
  letter-spacing: auto;
}

title {
  border: 25px groove #666666;
  padding: 2px;
}

body {
  background-color: #bfbfbf;
  font-family: cursive;
  font-size: 150%;
  font-weight: lighter;
  text-align: left;
  padding-left: 200px;
  padding-right: 200px;
}

.button {
  color: #d19527;
  font-weight: 300;
  text-align: center;
  font-size: 110%;
}

.button:hover {
  color: gray;

}

.button:active {
  color: white;
  background-color: white;
}

.button:visited {
  color: green;
}
