html {
  padding: 2;
}

h1, h2, h6 {
  color: #40413E;
  text-align: center;
  font-family: cursive;
  font-size: 220%;
  font-style: normal;
  font-weight:400;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 30px;
  letter-spacing: -1;
}

title {
  border: 25px groove #666666;
  padding: 2px;
}

p {
    font-family: fantasy;
    font-size: 100%;
    font-weight: lighter;
    text-align: left;
    padding-left: 200px;
    padding-right: 200px;
}

body {
  padding: 2;
  margin: 0 0 0 0;
  background-color: #bfbfbf;
}
