.text1 {
  font-family: Arial, sans-serif;
  font-size: 500px
  font-weight: bold;
  line-height: 20px;
  word-spacing: 2px;
}
.text2 {
  font-family: Helvetica;
  font-size: 500px
  font-weight: bold;
  line-height: 20px;
  word-spacing: 2px;
}
.filterqueen-text{
  font-family: "Gill Sans", sans-serif;
  font-style: oblique;
  font-size: 500px;
  color: black;
}
.subtext{
  font-family: "Gill Sans", sans-serif;
  font-size: 30px;
  color: black;
}
.bottom {
  font-family: 'Forte';
  src: url('./fonts/forte.ttf');
  font-size: 47px;
  color: #303f44;
}
p {
  font-family: Arial;
  font-weight: bold;
  line-height: 20px;
  word-spacing: 2px;
}
